<section class="interna">
    <div class="container_12">
        <div class="row result">
            <div class="row detalhe">
                <div class="grid_12 pets">
                    <div id="detalhes" data-id="<%= id %>" data-lat="<%= lat %>" data-lng="<%= lng %>" class="row gutters"></div>
                    <br />
                    <div class="map">
                        <h2>Como chegar</h2>
                        <div id="map" style="height: 300px; width: 100%; position: relative; display: block;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>