<section class="interna">
    <div class="container_12">
        <div class="row result">
            <div class=" grid_12">
                <div data-action="<%= acao %>" data-type="<%= tipo %>" data-lat="<%= lat %>" data-lng="<%= lng %>" id="resultados" class="row"></div>
            </div>
            <a href="#" class="pagination animated">Mais resultados</a>
        </div>
    </div>
</section>