<section class="home">
    <div class="container_12">
        <div class="row">
            <div class="grid_7 busca">
                <h2>Encontre pets e veterinárias mais rápido e próximo a você!</h2>
                <form method="post" action="/busca/endereco" class="row gutters">
                    <div class="col grid_6">
                        <input type="text" name="cep" placeholder="Digite seu CEP" />
                    </div>
                    <div class="col grid_6">
                        <button type="submit">Buscar</button>
                    </div>
                </form>
                <div class="row gutters">
                    <p class="col grid_6">Não sabe seu CEP? <a href="#">Clique aqui</a></p> 
                    <p class="col grid_6"><img src="/images/gps.png" width="18" height="18" border="0" alt="" /> <a href="#"> Localize-me</a></p>
                </div>
            </div> 
            <div class="grid_7 app">
                <div class="row gutters">
                    <div class="col grid_4"><a href="#" class="animated"><img src="/images/android.png" width="30" height="30" alt=""/><div><span>Disponível para</span> Android</div> </a></div>
                    <div class="col grid_4"><a href="#" class="win animated"><img src="/images/windows.png" width="30" height="30" alt=""/><div><span>Disponível para</span> Windows Phone</div></a></div>
                </div>
            </div>
        </div>
    </div>
</section>