<section class="home">
    <div class="container_12">
        <div class="row">
            <div class="grid_7 busca">
                <h2>Encontre petshops e veterinários mais rápido e próximo a você!</h2>
                <form method="post" action="/busca/endereco" class="row gutters">
                    <div class="col grid_6">
                        <input type="text" id="busca-cep" name="cep" maxlength="9" placeholder="Digite seu CEP" />
                    </div>
                    <div class="col grid_6">
                        <button type="submit">Buscar</button>
                    </div>
                </form>
                <div class="row gutters">
                    <p class="col grid_6">Não sabe seu CEP? <a href="/busca/endereco">Clique aqui</a></p> 
                    <p class="col grid_6"><img src="/images/gps.png" width="18" height="18" border="0" alt="" /> <a href="/busca"> Localize-me</a></p>
                    <p class="col grid_12">
                        <div class="fb-like" data-href="http://www.shoppets.com.br/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>